@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a class="nav-link"
       asp-controller="Empleados"
       asp-action="PerfilEmpleado">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link"
       asp-controller="Managed"
       asp-action="LogOut">
            Log Out
            <span style="color:blue">@Context.User.Identity.Name</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
       asp-controller="Empleados"
       asp-action="PerfilEmpleado">
            Mi PERFIL
        </a>
    </li>
}
